<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>WHALES-EYE DASHBOARD</title>
</head>
<body>
    <header class="text-gray-700 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="home2.html">
            <img src="images/whalesnot.png" alt="WHALE-EYE" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24" style="width: 100px; height: 100px;">
            <span class="ml-3 text-xl" style="font-size: xx-large;">WHALES-EYE</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900" style="font-size: x-large;" href="about.html">ABOUT</a>
            <a class="mr-5 hover:text-gray-900" style="font-size: x-large;" href="dashboard.html">DASHBOARD</a>
            <a class="mr-5 hover:text-gray-900" style="font-size: x-large;" href="meditate.html">MEDITATION WITH WHALES</a>
          </nav>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
    <div style="background-image: linear-gradient(rgb(0, 153, 255), rgb(64, 0, 255));height: 100%; width: auto;">
        <section class="text-gray-700 body-font relative">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-col text-center w-full mb-12">
                <center><h1 style="font-size: 70px; color:firebrick; font-weight: bolder; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">DASHBOARD</h1></center>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base" style="color:navajowhite">Know everything about Whale snot analysis using drones! <br><br>
                    <button class="flex-shrink-0 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg mt-10 sm:mt-0" onclick="playAudio('music/Whales Spouting Out Water-SoundBible.com-966355632.mp3')">MAKE THE WHALE SNOT!</button>
                </p>
              </div>
            </div>
          </section>
          <!--flask content here!-->








        <section class="text-gray-700 body-font relative">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Us</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base" style="color:navajowhite">Want to know more about the world of marine research and study of whales?</p>
              </div>
              <div class="lg:w-1/2 md:w-2/3 mx-auto">
                <div class="flex flex-wrap -m-2">
                  <div class="p-2 w-1/2">
                    <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Name" type="text">
                  </div>
                  <div class="p-2 w-1/2">
                    <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Email" type="email">
                  </div>
                  <div class="p-2 w-full">
                    <textarea class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-48 focus:border-indigo-500 text-base px-4 py-2 resize-none block" placeholder="Message"></textarea>
                  </div>
                  <div class="p-2 w-full">
                    <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">SEND</button>
                  </div>
                  <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
                    <a class="text-indigo-500">PROJECT FOR PENN APPS XXI</a>
                    <p class="leading-normal my-5" style="color:navajowhite">BY
                      <br>J K VISHWAJEET AND SHUBHAM BAID
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
    <div style="position: fixed;bottom: 0px; width: 100%;">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
        </svg>
    </div>
    <script type="text/javascript">
        function playAudio(url) {
            new Audio(url).play();
        }
    </script>

</body>
</html>